<h1>The City</h1>
<p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>

<div class="row">
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>

    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>

    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
    <img class='col-xs-12 col-s-6 col-m-4 col-l-3 float' src='http://via.placeholder.com/125x125'>
</div>
